<h1>
    {{title}}
</h1>
<div id="mainSlide" data-slick='{"slidesToShow": 4, "slidesToScroll": 4}'>
  <div><h3>1</h3></div>
  <div><h3>2</h3></div>
  <div><h3>3</h3></div>
  <div><h3>4</h3></div>
  <div><h3>5</h3></div>
  <div><h3>6</h3></div>
</div>
<!--<div class="container">
    <div class="slide group">
        <div class="title">Group 1</div>
        <div class="option">
            this is an option
        </div>
        <div class="option">
            this is another option
        </div>
        <div class="option">
            this is another option
        </div>
    </div>
    <div class="slide group">
        <div class="title">Group 2</div>
        <div class="option">
            this is another option
        </div>
        <div class="option">
            this is another option
        </div>
    </div>
    <div class="slide group">
        <div class="title">Group 3</div>
        <div class="option">
            this is another option
        </div>
    </div>
    <div class="slide">
        <div class="option">
            this is another option
        </div>
    </div>
    <div class="slide">
        <div class="option">
            this is another option
        </div>
    </div>
    <div class="slide">
        <div class="option">
            this is another option
        </div>
    </div>
    <div class="slide">
        <div class="option">
            this is another option
        </div>
    </div>
    <div class="slide">
        <div class="option">
            this is another option
        </div>
    </div>
    <div class="slide">
        <div class="option">
            this is another option
        </div>
    </div>
    <div class="slide">
        <div class="option">
            this is another option
        </div>
    </div>
    <div class="slide">
        <div class="option">
            this is another option
        </div>
    </div>
    <div class="slide">
        <div class="option">
            this is another option
        </div>
    </div>
    <div class="slide">
        <div class="option">
            this is another option
        </div>
    </div>
    <div class="slide">
        <div class="option">
            this is another option
        </div>
    </div>
    <div class="slide">
        <div class="option">
            this is another option
        </div>
    </div>
</div>-->