<h1>
    {{title}}
</h1>
<div class="container">
    <div class="slide group">something something something</div>
    <div class="slide group">something something something</div>
    <div class="slide group">something something something</div>
    <div class="slide">something something something</div>
    <div class="slide group">something something something</div>
    <div class="slide group">something something something</div>
    <div class="slide">something something something</div>
    <div class="slide group">something something something</div>
    <div class="slide group">something something something</div>
    <div class="slide group">something something something</div>
    <div class="slide group">something something something</div>
    <div class="slide">something something something</div>
    <div class="slide">something something something</div>
    <div class="slide">something something something</div>
    <div class="slide">something something something</div>
    <div class="slide">something something something</div>
    <div class="slide">something something something</div>
    <div class="slide">something something something</div>
    <div class="slide">something something something</div>
    <div class="slide">something something something</div>
    <div class="slide">something something something</div>
    <div class="slide">something something something</div>
    <div class="slide">something something something</div>
</div>